@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

/* Staff page */

.wrapper {
  position: relative;
  background: #f39440;
  width: 375px;
  height: 667px;
  font-size: 20px;
  text-align: center;
  top: 20%;
  left: 30%;
  right: 30%;
}

.logo {
  position: absolute;
  width: 70px;
  height: 69px;
  left: 152px;
  top: 90px;
}

.staff-h1 {
  position: absolute;
  width: 181px;
  height: 52px;
  left: 97px;
  top: 159px;
  font-family: "Sansita", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.staff-h2 {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 111px;
  top: 308px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  color: rgba(0, 0, 0, 0.8);
}
